[Unit]
Description=Start cutelogActions GUI
Before=taskManager.service

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY={{ ssh_home }}/.Xauthority"
ExecStart={{ ssh_home }}/.local/bin/cla --base_dir {{ ssh_home }}/{{ files.dest }}
Restart=always

[Install]
WantedBy=default.target
WantedBy=taskManager.service