[Unit]
Description=Start cutelogActions GUI

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY={{ ssh_home }}/.Xauthority"
ExecStart={{ ssh_home }}/.local/bin/cla
Restart=always

[Install]
WantedBy=default.target
