
taskManager:
  interface: "{{ taskManager.interface }}"
  port: {{ taskManager.port }}

cutelogActions:
  host: {{ cutelogActions.host }}
  port: {{ cutelogActions.port }}

files:
  orig: {{ files.orig }}
  dest: {{ files.dest }}
