[Unit]
Description=Start user's local compute farm taskManager
Wants=cutelogActions.service
After=cutelogActions.service

[Service]
ExecStart=python -m {{ ssh_home }}/.local/pyComputeFarm/bin/taskManager {{ ssh_home }}/.local/pyComputeFarm/config/taskManager.yaml
Restart=always

[Install]
WantedBy=default.target
