# This is the task worker description of the {{ aWorker }} runner command

# How to contact the TaskManager
taskManager:
  host: {{ taskManager.host }}
  port: {{ taskManager.port}}

logParser: runnerLogParser-{{aWorker}}
workerType: runner

availableTools:
  - mkdir
  - runner

# dir: aPath

verbose: true
