
# This is the log parser for the simple testWorker - bash runner script

import time

def logParser(taskRequest, logMsg) :
  return {
    'time'  : time.time(),
    'name'  : taskRequest['taskName'],
    'level' : 'info',
    'msg'   : logMsg

  }
