# This is the task worker description of the {{ aWorker }} runner command

# How to contact the TaskManager
taskManager:
  host: {{ taskMaster.host }}
  port: {{ taskMaster.port}}

logParser: runnerLogParser-{{aWorker}}
workerType: runner

cmd:
  prefix: ./runner-{{aWorker}}

# env:
#  silly: sillier

# dir: aPath

verbose: true
