# see:
# https://unix.stackexchange.com/questions/228277/grouping-systemd-services

[Unit]
Description=Start a compute farm ConTeXt Worker ({{aWorker}})
PartOf=contextWorker.target

[Service]
WorkingDirectory={{ ssh_home }}/.local/pyComputeFarm/files
ExecStart=python -m {{ ssh_home }}/.local/pyComputeFarm/bin/worker {{ aWorker }} {{ ssh_home }}/.local/pyComputeFarm/config/contextConfig.yaml
Restart=always

[Install]
WantedBy=default.target
