# see:
# https://unix.stackexchange.com/questions/228277/grouping-systemd-services

[Unit]
Description=Start a collection of compute farm ConTeXt Workers
{% for aWorker in workers.contextWorker.list %}Wants={{ aWorker }}.service
{% endfor %}
