
# This is the log parser for the simple ConTeXt Worker - bash runner script

import time

def logParser(logName, logMsg) :
  return {
    'time'  : time.time(),
  	'name'  : logName,
  	'level' : 'info',
  	'msg'   : logMsg

  }
