# This is the task worker description of the {{ item }} runner command

# How to contact the TaskManager
#taskManager:
#  host: localhost
#  port: 8888

logParser: runnerLogParser
workerType: runner-{{item}}

cmd:
  prefix: ./runner-{{item}}

# env:
#  silly: sillier

# dir: aPath

verbose: true
