[Unit]
Description=Start user's local compute farm taskManager

[Service]
ExecStart={{ ansible_facts.user_dir }}/.local/pyComputeFarm/bin/taskManager
Restart=always

[Install]
WantedBy=default.target
