# This is the task worker description of the {{ aWorker }} command

# How to contact the TaskManager
taskManager:
  host: {{ taskManager.host }}
  port: {{ taskManager.port}}

logParser: gccARMCrossX86-LogParser.py
workerType: gccX86

cmd:
  prefix: {{ binaries.gccARMCrossX86 }}

# dir: aPath

verbose: true
