
# This is the log parser for the simple gcc Worker - bash runner script

#import re
## import time

def logParser(taskRequest, logMsg) :
  return {
    'name'  : taskRequest['taskName'],
    'level' : 'debug',
    'msg'   : logMsg
  }

contextErrorRE = re.compile(r'tex error on line (\d+) in file (\S+):')

def logParser(taskRequest, logMsg) :
  errorFound = False
  logBody = {
    'name'  : taskRequest['taskName'],
    'level' : 'debug',
    'msg'   : logMsg
  }
  if -1 < logMsg.find('error') or -1 < logMsg.find('FAILED') :
    logBody['level'] = 'error'
  return logBody
"""