# This is the task worker description of the {{ aWorker }} command

# How to contact the TaskManager
taskManager:
  host: {{ taskManager.host }}
  port: {{ taskManager.port}}

logParser: gcc-LogParser.py
workerType: gcc

availableTools:
  - mkdir
  - cpp
  - g++
  - gcc
  - ar
  - curl
  - wget
  - tar
  - install
  - cmake
  - ninja
  - pkgconfig

aliases:
  cpp: g++

# dir: aPath

verbose: true
