# see:
# https://unix.stackexchange.com/questions/228277/grouping-systemd-services

[Unit]
Description=Start a compute farm GCC Worker ({{aWorker}})
PartOf=gcc-Worker.target

[Service]
WorkingDirectory={{ ssh_home }}/.local/pyComputeFarm/files
ExecStart=python -m {{ ssh_home }}/.local/pyComputeFarm/bin/worker {{ aWorker }} {{ ssh_home }}/.local/pyComputeFarm/config/gcc-Config.yaml
Restart=always

[Install]
WantedBy=default.target
