# This is the task worker description of the {{ aWorker }} command

# How to contact the TaskManager
taskManager:
  host: {{ taskManager.host }}
  port: {{ taskManager.port}}

logParser: gcc-LogParser.py
workerType: gcc

availableTools:
  - mkdir
  - gppArm
  - gppAmd
  - gccArm
  - gccAmd
  - ar
  - curl
  - wget
  - tar

aliases:
  gppArm: aarch64-linux-gnu-g++
  gppAmd: g++
  gccArm: aarch64-linux-gnu-gcc
  gccAmd: gcc

# dir: aPath

verbose: true
